<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>GeoSnap</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="{{ url_for('static', filename='/css/main.css') }}" rel="stylesheet" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<h1>GeoSnap</h1>
					<p>By Tom Howard</p>
				</header>
				<footer>
				<form action = "http://localhost:5000/results" method = "POST" 
					enctype = "multipart/form-data">
					<input type = "file" name = "file" />
					<input type = "submit"/>
				 </form> 
<!----		<label class="button style2 scrolly-middle"> -->
					</label>
				</footer>

			</section>

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Photo Locator</h2>
				</header>
				<p>A tool for geolocating photos built by <a href="https://github.com/tomhoward7">Tom Howard</a>.<br />
				Build using Google's Vision API and written in Python using Flask</a>.</p>
				<footer>
					<!--<a href="#first" class="button style2 scrolly">Submit and Locate</a>-->
				</form>  
				</footer>
			</section>

		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-github-f"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Tom Howard. All rights reserved.</li>
				</ul>
			</div>
		</section>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>